.navbar-custom {
    background-color: #343a40;
    cursor:pointer;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
    color: #ffffff;
}

.jumbotron-custom {
    background-color: #f8f9fa;
    padding: 2rem;
    margin-top: 2rem;
    border-radius: .3rem;
    text-align: center;
}
